.nav-bar{
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    background:linear-gradient(30deg, rgb(29, 28, 28), rgb(89, 87, 87));
}

.nav-bar h1{
    color: aliceblue;
    text-decoration: underline;
}

.nav-bar .nav-items{
    word-spacing: 20px;
}

.nav-bar .nav-items a{
    text-decoration: none;
    color: rgb(233, 193, 193);
}